body{
    background: black;
    margin: 0;
    color: rgb(2, 9, 15);
    font-family: 'Courier New', Courier, monospace;
}

.showcase::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(seascape-sunrise-beautiful-natural-seascape-sea-sunrise-black-sea-coast-seascape-sunrise-beautiful-natural-158558796.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .title{
    font-size: 1.7;
    margin-top: -6rem;
    margin-left: 120px;
    /* background-color: rgba(145, 102, 110, 0.5); */
    margin-bottom: 20px;
    border-radius: 20px; 
}

.container{
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    padding: 1rem 4rem;
    position: absolute;
    z-index: 1;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}