body{
    
  background: black;
  margin: 0;
  padding: 0;
  color: rgb(2, 9, 15);
  font-family: 'Courier New', Courier, monospace;
  -webkit-user-select: none;
  user-select: none;
}

.showcase::after{
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(Neo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.container{
max-width: 100%;
z-index: 1;
overflow: hidden;
position: fixed;
}

/*////////////////////////////////////*/

a {
color: #000;
}

/* header */

.header {
position: fixed;
width: 100%;
z-index: 3;
}

.About{
font-size: large;
}

.Skills{
font-size: large;
}
.Contact{
font-size: large;
}

.header ul {
margin: 0;
margin-left: 50px;
padding: 0;
list-style: none;
overflow: hidden;
/* background-color: #fff; */
}

.header li a {
display: inline;
padding: 1px 1px;
text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
background-color: #9c9494;
}

.header .logo1 {
display: block;
float: left;
font-size: 2em;
padding: 10px 20px;
text-decoration: none;
}

/* menu */

.header .menu {
clear: both;
max-height: 0;
transition: max-height .60s ease-out;
}

/* menu icon */

.header .menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 32px 24px;
position: relative;
user-select: none;
}

.header .menu-icon .navicon {
background: rgb(224, 223, 223);
display: block;
height: 2px;
position: relative;
transition: background .1s ease-out;
width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
background: rgb(252, 252, 252);
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.header .menu-icon .navicon:before {
top: 5px;
}

.header .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.header .menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}


.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.animated.infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.animated.hinge {
-webkit-animation-duration: 2s;
animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
-webkit-animation-duration: .75s;
animation-duration: .75s;
}

@-webkit-keyframes zoomIn {
from {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
}

50% {
  opacity: 1;
}
}

@keyframes zoomIn {
from {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
}

50% {
  opacity: 1;
}
}

.zoomIn {
-webkit-animation-name: zoomIn;
animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
from {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}

@-webkit-keyframes fadeInDown {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

@keyframes fadeInDown {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}

@-webkit-keyframes bounceInDown {
from, 60%, 75%, 90%, to {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
}

60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
}

75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

to {
  -webkit-transform: none;
  transform: none;
}
}

@keyframes bounceInDown {
from, 60%, 75%, 90%, to {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
}

60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
}

75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

to {
  -webkit-transform: none;
  transform: none;
}
}

.bounceInDown {
-webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
}

.last{
color: rgb(255, 255, 255);
font-size: smaller;
margin-left: 130px;
}


.content{
position: absolute;
z-index: 1;
top: -10%;
left: 50%;
margin-top: 525px;
margin-left: -260px;
width: 500px;
height: 90px;
text-align: center;
}

.content .title{
color: #ffffff;
font-size: 1.7;
top: -10%;
left: -30%;
margin-top: 525px;
margin-left: -860px;
}

@media screen and (max-width:320px) and (min-width:320px){
  .content{
    position: absolute;
    z-index: 1;
    top: 91%;
    left: 50%;
    margin-top: 75px;
    margin-left: -1045px;
    width: 300px;
    height: 350px;
    text-align: center;
   
  }
  
  .content .title{
    font-size: 1.7;
    margin-top: 15rem;
    margin-left: -3rem;
  }
  .last{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-left: 60px;
  }
  
  }

@media screen and (max-width:360px) and (min-width:360px){
.content{
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 300px;
  margin-left: -145px;
  width: 300px;
  height: 80px;
  text-align: center;
 
}

.content .title{
  font-size: 1.7;
  margin-top: -1rem;
  margin-left: -3rem;
}
.last{
  color: rgb(255, 255, 255);
  font-size: smaller;
  margin-left: 60px;
  }
}
  
@media screen and (max-width:411px) and (min-width:411){
  .content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 300px;
    margin-left: -145px;
    width: 10%;
    text-align: center;
   
  }
  
  .content .title{
    font-size: 1.7;
    margin-top: -1rem;
    margin-left: -3rem;
  }
  .last{
    color: rgb(8, 2, 2);
    font-size: smaller;
    margin-left: 40px;
  }

}

@media screen and (max-width:414px){
  .content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 300px;
    margin-left: -145px;
    width: 300px;
    height: 80px;
    text-align: center;
   
  }
  
  .content .title{
    font-size: 1.7;
    margin-top: -1rem;
    margin-left: -3rem;
  }
  .last{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-left: 60px;
  }
}

@media screen and (max-width:375px) and (min-width:375px){
  .content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 300px;
    margin-left: -145px;
    width: 300px;
    height: 50px;
    text-align: center;
   
  }
  
  .content .title{
    font-size: 1.7;
    margin-top: -1rem;
    margin-left: -3rem;
  }
  .last{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-left: 60px;
  }
  
  }

@media screen and (max-width:480px) and (min-width:480px) {
  .content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 300px;
    margin-left: -145px;
    width: 300px;
    height: 50px;
    text-align: center;
   
  }
  
  .content .title{
    font-size: 1.7;
    margin-top: -1rem;
    margin-left: -3rem;
  }
  .last{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-left: 60px;
  }
  }

@media screen and (min-width:768px) and (max-width:768px){
.content .title{
  font-size: 1.7;
  margin-top: 6rem;
  margin-left: -1rem;
}
.last{
  color: rgb(255, 255, 255);
  font-size: smaller;
  margin-left: 130px;
}

}

@media screen and (min-width:1024px){
/*this is where I control my title name on my index page*/
  .content{
    position: absolute;
    z-index: 1;
    top: -1%;
    left: 50%;
    margin-top: 300px;
    margin-left: -245px;
    width: 500px;
    height: 50px;
    text-align: center;
   
  }

  .content .title{
    font-size: 1.7;
    margin-top: 10rem;
    margin-left: -1rem;
  }
  .last{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-left: 160px;
  }
}